absl-py
annoy
astor
bleach
certifi
chardet
embeddings
gast
grpcio
h5py
html5lib
idna
Keras
Markdown
nltk
numpy
protobuf
python-Levenshtein
PyYAML
requests
scipy
six
tensorflow==2.5.1
termcolor
tqdm
urllib3
Werkzeug
